<div class="container my-4">
  <div class="row">
    <div class="col-xs-12">
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <h2 routerLink="*">{{title}}</h2>
          <div class="d-flex">
            <button routerLink="*" class="btn btn-outline-primary mx-2">Teslimat</button>
            <button routerLink="*" class="btn btn-outline-primary mx-2">Bayi ekle</button>
            <button routerLink="*" class="btn btn-outline-primary mx-2">Ürünler</button>
          </div>
        </div>
      </nav>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


